<head>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body>
    <br>
    <div class="container text-center">
        <h1 style="color: White; padding-top: 20px; font-family: 'Silkscreen';height: 100px;
        background-color: rgba(0,0,0,.4);">Φ(n) CALCULATOR</h1>
    </div>
    <br>
    <br>
    <div class="container" style="color: White; padding-top: 20px; font-family: 'Silkscreen';height: 100px;
    background-color: rgba(0,0,0,.4);height: 170px;">
    <h4 class="text-start" style="color: #4dff4d">Euler's totient Function Φ(n):</h4>
    <br>
    <p style="padding-left: 60px; font-size: large;">
        &nbsp;&nbsp;&nbsp;Euler’s totient function, also known as phi-function ϕ(n), counts the number of integers between 1 and n inclusive, which are coprime to n.     
    </p>
    </div>
    <br>
    <br>
    <div class="container" style="height: 500px; background-color:rgba(0,0,0,.3);padding-top: 50px; padding-left: 30px;">
        <div class="container-left" style="height: 90%; width:40%; float: left; font-family: 'Silkscreen'; color: limegreen; padding-top: 60px;">
            <h3>Have a quick look at this video to understand how Miller-Rabin primality testing works.</h3>
            <br>
            <br>
            <br>
            <i class="fas fa-lightbulb" style="font-size: 2rem; color: bisque;"><span style="font-family:'Silkscreen' ;"> TIP</span></i>
            <p style="padding-top: 5px; font-size: 21px;">If n is prime number, then Φ(n) = n -1 </p>
        </div>
        <div class="container-right" style="height: 90%; width:57%;float: left;margin-left: 30px;">
            <iframe width="690" height="403" src="https://www.youtube.com/embed/DwQ7-k9LkJ4" title="Euler’s Totient Function (Phi Function)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
        </div>
    </div>
    <br>
    <br>
    <div style="margin-left: 100px; font-family: 'Silkscreen'; ">
        <div class="container" style="color: green; float: left; width: 35%;background-color: rgba(229, 255, 196, 0.816);">
            <h2>Let's Find </h2>
            <form>
                <label for="num>">Enter a number:&nbsp;&nbsp;&nbsp; </label>
                <br>
                <input style="display: inline-block;margin-left: 70px;"type="number" name="value" [(ngModel)]="value">
                <br>
                <br>
                <button class="button button1" (click)="phi()">Find Φ(n)</button>
            </form>
        </div>
        <div class="container" style="color: white; float: left; width: 30%;margin-left: 70px;background-color: rgba(2, 241, 34, 0.523);">
            <h3> Φ(n):</h3>
            <h1 style="padding-left:80px ;font-size:22px; font-family: 'Aldrich';">{{ans}}</h1>
            <textarea cols="20" rows="5" wrap="soft" style="margin-top: 30px; margin-left: 13%; background-color: black;color: lime; font-family: 'Roboto Mono', monospace; font-size: large;">
                Answer:-{{res}}
            </textarea>
        </div>
    </div>
</body>

