<nav class="navbar navbar-expand-lg py-3 navbar-light shadow-sm" style="background-color: rgb(8, 172, 28);">
  <div class="container">
    <a href="#" class="navbar-brand">
        <!-- Logo Image -->
        <img src=".\assets\images\logo.png" width="200" alt="" class="d-inline-block align-middle mr-2">
    </a>
  
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
  
    <div id="navbarSupportedContent" class="collapse navbar-collapse" style="margin: auto 260px;font-family: 'Aldrich';font-size: 18px;">
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item active fw-bold"><a href="/home" class="nav-link" style="padding-left:20px;">Home <span class="sr-only">(current)</span></a></li>
        <li class="nav-item fw-bold"><a href="#" class="nav-link" style="padding-left:20px ;">About</a></li>
        <li class="nav-item dropdown fw-bold">
          <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbardrop" data-toggle="dropdown" style="padding-left:20px">
            Algorithms
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item fw-bold" href="/Algo1">Φ(n) Calculator</a>
            <a class="dropdown-item fw-bold" href="/Algo2">Primitive Roots</a>
            <a class="dropdown-item fw-bold" href="/Algo3">GCD Euclidean</a>
            <a class="dropdown-item fw-bold" href="/Algo4">Miller-Rabin Test</a>
            <a class="dropdown-item fw-bold" href="/Algo5">Inverse Modulo</a>
          </div>
        </li>
        <li class="nav-item fw-bold">
          <a href="#" class="nav-link" style="padding-left:20px">
            Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
