<body style= "background: rgba(1, 1, 1, 1.0);
background: -webkit-linear-gradient(left, rgba(1, 1, 1, 1.0), rgba(8, 172, 28, 1.0));
background: -moz-linear-gradient(left, rgba(1, 1, 1, 1.0), rgba(8, 172, 28, 1.0));
background: linear-gradient(to right, rgba(1, 1, 1, 1.0), rgb(8, 172, 28)); height: 1300px;">
<div class="cont px-5">
    <h1 class="display-5 fw-bold text-center" style="color: white; font-family: 'Aldrich';font-size: 62px;">
        Welcome to CRYPTBUZZ!
    </h1>
    <p class="fs-4 text-center" style="color: lime;font-family: 'Aldrich';font-size: 22px;" >
        Cryptography is fun!
    </p>
</div>
<br>
<br>
<h1 style="text-align: center; color: whitesmoke; font-family: 'Aldrich';font-size: 42px;">Take a look at these Algorithms!!</h1>
<br>
<br>
<div class="frame" style="height: 450px;">
<section class="card-container">

	<div class="card">
      <br>
		<i class="fas fa-bug"></i>
		<br>
		<h1 style="font-size: 22px;">Φ(n) Calculator</h1>
		<br>
		<a style="width: 40%; margin: 0 auto"href="/Algo1"><button type="button" class="btn btn-success" style="width: 100%; margin: 0 auto">Explore!</button></a>
      <br>
	</div>

	<div class="card">
      <br>
		<i class="fas fa-eye"></i>
		<br>
		<h1 style="font-size: 22px;">Primitive Roots</h1>
		<br>
		<a style="width: 40%; margin: 0 auto"href="/Algo2"><button type="button" class="btn btn-success" style="width: 100%; margin: 0 auto">Explore!</button></a>
      <br>
	</div>

	<div class="card">
      	<br>
      	<i class="fas fa-key"></i>
	  	<br>
		<h1 style="font-size: 22px;">GCD Euclidean</h1>
		<br>
		<a style="width: 40%; margin: 0 auto"href="/Algo3"><button type="button" class="btn btn-success" style="width: 100%; margin: 0 auto">Explore!</button></a>
      	<br>
	</div>

	<div class="card">
      <br>
		<i class="fas fa-mask"></i>
		<br>
		<h1 style="font-size: 22px;">MILLER-RABIN test</h1>
		<!-- <p>This is the fourth card.</p> -->
		<br>
      <a style="width: 40%; margin: 0 auto"href="/Algo4"><button type="button" class="btn btn-success" style="width: 100%; margin: 0 auto">Explore!</button></a>
      <br>
	</div>

	<div class="card">
      <br>
		<!-- <i class="fa fa-chess"></i> -->
      <i class="fas fa-user-secret"></i>
	  <br>
		<h1 style="font-size: 22px;">Inverse Modulo</h1>
		<a style="width: 40%; margin: 0 auto"href="/Algo5"><button type="button" class="btn btn-success" style="width: 100%; margin: 0 auto">Explore!</button></a>
      <br>
	</div>

	<div class="card">
      <br>
		<i class="fas fa-shield-alt"></i>
      <!-- <i class="fa fa-car"></i> -->
		<h1>Card #6</h1>
		<a style="width: 40%; margin: 0 auto"href="/Algo6"><button type="button" class="btn btn-success" style="width: 100%; margin: 0 auto">Explore!</button></a>
      <br>
	</div>

</section>
</div>
